---
import Navigation from "./Navigation.astro"
import Hamburger from './Hamburger.astro';
---
# Create a new Header component. Import and use your existing Navigation.astro component 
# inside a <nav> element which is inside a <header> element.
<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>
